<%= form_tag sessions_path do |form| %>
  <div class="row login-margins">
    <div class="col-lg-12 form-group card">
      <%= label_tag :email, nil, class: "center-align" %>
      <%= text_field_tag :email, "", class: "form-control" %>
      <%= label_tag :password, nil, class: "center-align" %>
      <%= password_field_tag :password, "", class: "form-control" %>
      <label for="user_type" class="center-align">Select your affiliation with Libraries</label>
      <select name="user_type" class="form-control">
        <option value="student">Student</option>
        <option value="librarian">Librarian</option>
        <option value="admin">Admin</option>
      </select>
      <%# TODO: check if current_user below is required %>
      <% current_user %>
      <br>
      <div class="actions">
        <%= submit_tag "Login", class: "btn btn-primary btn-block" %>
      </div>
      <div class="btn-group-vertical btn-block mt-2">
        <%= link_to "Sign in with Google as Student",
                    set_google_signup_user_type_url(:google_signup_user_type => 3),
                    class: "btn btn-primary",
                    style: "color: #ffffff;" %>
        <%= link_to "Sign in with Google as Librarian",
                    set_google_signup_user_type_url(:google_signup_user_type => 4),
                    class: "btn btn-primary",
                    style: "color: #ffffff;" %>
      </div>
      <div class="btn-group-vertical btn-block mt-2">
        <%= link_to "Sign up as a Student",
                    new_student_url,
                    class: "btn btn-primary",
                    style: "color: #ffffff;" %>
        <%= link_to "Sign up as a Librarian",
                    new_librarian_url,
                    class: "btn btn-primary",
                    style: "color: #ffffff;" %>
      </div>
    </div>
  </div>
  <% if alert != nil %>
    <h6 id="alert" class="alert alert-danger" style="text-align: center"><%= alert %></h6>
  <% end %>
<% end %>
