<%= form_with(model: student, local: true) do |form| %>
  <div class="login-margins-30" style="margin-top: 0%">
    <% if student.errors.any? %>
      <ul class="list-group">
        <% student.errors.messages.delete(:book_limit) %>
        <h2 align="center"><%= pluralize(student.errors.count, "error") %></h2>
        <% student.errors.full_messages.each do |message| %>
          <li id="alert" class="list-group-item list-group-item-danger" style="text-align: center"><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <% if session[:user_id] == nil %>
      <%= link_to "Sign up with Google",
                  set_google_signup_user_type_url(:google_signup_user_type => 1),
                  class: "btn btn-primary btn-block",
                  style: "color: #ffffff; margin-bottom: 2em;" %>
    <% end %>

    <div class="form-group card">

      <%= form.label :your_email, nil, class: "center-align" %>
      <%= form.text_field :email, value: (student.name.nil? ? @google_email : student.email), class: "form-control" %>

      <%= form.label :your_name, nil, class: "center-align" %>
      <%= form.text_field :name, value: (student.name.nil? ? @google_name : student.name), class: "form-control" %>

      <% if @without_password == nil %>
        <%= form.label :your_password, nil, class: "center-align" %>
        <%= form.password_field :password, class: "form-control" %>

        <%= form.label :confirm_password, nil, class: "center-align" %>
        <%= form.password_field :password_confirmation, class: "form-control" %>
      <% end %>

      <!--Show only to admin and when creating profile-->
      <% if session[:user_id] == nil || session[:user_type] == ApplicationController::TYPE_ADMIN %>
        <%# TODO: create this dynamically using form tags %>
        <%= form.label :your_education_level, nil, class: "center-align" %>
        <select name="student[edu_level]" class="form-control">
          <option value=""></option>
          <option value="undergraduate" <%= @edu_level == "undergraduate" ? "selected" : "" %>>Undergraduate</option>
          <option value="graduate" <%= @edu_level == "graduate" ? "selected" : "" %>>Graduate</option>
          <option value="phd_student" <%= @edu_level == "phd_student" ? "selected" : "" %>>PhD Student</option>
        </select>

        <%= form.label :your_university, nil, class: "center-align" %>
        <%= form.collection_select :university_id, University.all, :id, :name, {include_blank: true}, {class: "form-control"} %>
      <% end %>

    </div>

    <div class="actions">
      <%= form.submit nil, class: "btn btn-primary btn-block" %>
    </div>
  </div>
<% end %>
