<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if session[:user_id] == nil %>
    <%= link_to "Continue with Google", set_google_signup_user_type_url(:google_signup_user_type => 1) %>
    <br>
    -----------or-----------
    <br>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, value: @google_email %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, value: @google_name %>
  </div>

  <% if @without_password == nil %>
  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>
  <% end %>

  <!--Show only to admin and when creating profile-->
  <% if session[:user_id] == nil || session[:user_type] == ApplicationController::TYPE_ADMIN %>
    <div class="field">
      <%= form.label :edu_level %>
      <select name="student[edu_level]">
        <option value=""></option>
        <option value="undergraduate">Undergraduate</option>
        <option value="graduate">Graduate</option>
        <option value="phd_student">PhD Student</option>
      </select>
    </div>

    <div class="field">
      <%= form.label :university %>
      <%= form.collection_select :university_id, University.all, :id, :name %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
