<div class="login-margins-30 card" style="margin-top: 0">
  <% if notice != nil %>
    <h6 id="alert" class="alert alert-info" style="text-align: center; margin-top: 0;"><%= notice %></h6>
  <% end %>

  <h4>
    <strong>Email:</strong>
    <%= @student.email %>
  </h4>

  <h4>
    <strong>Name:</strong>
    <%= @student.name %>
  </h4>

  <% if session[:user_type] == ApplicationController::TYPE_STUDENT %>
    <h4>
      <strong>Password:</strong>
      <%= @student.password %>
    </h4>
  <% end %>

  <h4>
    <strong>University:</strong>
    <% University.find(@student.university_id).name %>
  </h4>

  <h4>
    <strong>Edu level:</strong>
    <%= @student.edu_level %>
  </h4>

  <h4>
    <strong>Book limit:</strong>
    <%= @student.book_limit %>
  </h4>

  <%= link_to 'Edit',
              edit_student_path(@student),
              class: "btn btn-primary btn-block",
              style: "color: #ffffff;" %>

</div>