<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>
<% if session[:user_type] == ApplicationController::TYPE_STUDENT %>
  <p>
    <strong>Password:</strong>
    <%= @student.password %>
  </p>
<% end %>

<p>
  <strong>University:</strong>
  <% @university = University.find(@student.university_id) %>
  <%= @university.name %>
</p>

<p>
  <strong>Edu level:</strong>
  <%= @student.edu_level %>
</p>

<p>
  <strong>Book limit:</strong>
  <%= @student.book_limit %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
