<div class="login-margins-30 card">

  <% if notice != nil %>
    <h6 id="alert" class="alert alert-info" style="text-align: center; margin-top: 0;"><%= notice %></h6>
  <% end %>

  <h4 class="div-custom">
    <strong>Name: <%= @library.name %></strong>
  </h4>

  <h4 class="div-custom">
    <strong>Location: <%= @library.location %></strong>
  </h4>

  <h4 class="div-custom">
    <strong>Max days: <%= @library.max_days %></strong>
  </h4>

  <h4 class="div-custom">
    <strong>Overdue fine: <%= @library.overdue_fine %></strong>
  </h4>

  <%= link_to 'Edit',
              edit_library_path(@library),
              class: "btn btn-primary btn-block",
              style: "color: #ffffff;" %>

</div>