<br> <div> <%= link_to "Edit Profile", edit_admin_path(session[:user_id]) %></div>
<br> <div> <%= link_to "Librarians", librarians_url %>
</div><br> <div> <%= link_to "Students ", students_path %></div>
<br> <div> <%= link_to "Libraries", libraries_url %></div>
<br> <div> <%= link_to "Books", books_path %> </div>
<br> <div> <%=  link_to "Book hold requests", book_requests_url %> </div>
<br> <div> <%= link_to "Add Book counts to Libraries", book_counts_url %> </div>
