<br>
<div> <%= link_to "Edit profile", edit_student_url(current_user) %> </div>
<br>
<div> <%= link_to "Libraries", libraries_url %> </div>
<br>
<div> <%= link_to "View checked out books", book_histories_url(:request_type => BookHistory::ISSUED) %> </div>
<br>
<div> <%= link_to "View bookmarked books", book_requests_url(:request_type => BookRequest::IS_BOOKMARK) %> </div>
<br>
<div> <%= link_to "View book hold requests", book_requests_url(:request_type => BookRequest::IS_HOLD) %> </div>
<br>
<div> <%= link_to "View pending special requests", book_requests_url(:request_type => BookRequest::IS_SPECIAL) %> </div>