<center>
<br>
<%= form_with(model: book_count, local: true) do |form| %>
  <% if book_count.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book_count.errors.count, "error") %> prohibited this book_count from being saved:</h2>

      <ul>
        <% book_count.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <td><%= form.label :book_id %></td>
      <td><%= form.collection_select :book_id, Book.all, :id, :title, :include_blank => true %></td>
    </tr>


  <% if session[:user_type] == ApplicationController::TYPE_ADMIN %>
    <tr>
      <td><%= form.label :library_id %></td>
      <td><%= form.collection_select :library_id, Library.all, :id, :name, :include_blank => true %></td>
    </tr>

  <% end %>

  <% if session[:user_type] == ApplicationController::TYPE_LIBRARIAN %>
    <tr>
      <td> <%= form.label :library_id %></td>
      <td><%= form.collection_select :library_id, Library.where(:id => current_user.library_id), :id, :name, :include_blank => true %></td>
    </tr>
  <% end %>

  <tr>
    <td><%= form.label :book_copies %></td>
    <td><%= form.number_field :book_copies %></td>
  </tr>

  <tr>
    <td> </td>
    <td><%= form.submit %></td>
  </tr>
  <%end %>
  </table>
</center>