<h1>Library Management System - Admin Home Page </h1>

<div><%= link_to 'Edit Profile', edit_admin_path(:id) %> </div>
<br>
<div><%= link_to 'Create/ Modify /List Students', students_path %> </div>
<br>
<div> <%= link_to 'Create/ Modify /List Librarians', librarians_path %> </div>
<br>
<div> <%= link_to 'Create Books', new_book_path %> </div>
<br>
<div><%= link_to 'List of Books', books_path %> </div>
<br>
<div><%= link_to 'Book Hold Requests', book_requests_path %> </div>
<br>
<div> <%= link_to 'Checked Out Books', book_histories_path %> </div>


<!--list of students with books overdue-->
<!--borrowing history of each book-->