<%= form_with(model: book, local: true, :html => {:multipart => true}) do |form| %>
  <div class="login-margins-15" style="margin-top: 0%">
    <% if book.errors.any? %>
      <h2 align="center"><%= pluralize(book.errors.count, "error") %></h2>
      <ul class="list-group">
        <% book.errors.full_messages.each do |message| %>
          <li id="alert" class="list-group-item list-group-item-danger" style="text-align: center"><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <div class="form-group card">

      <%= form.label :book_isbn, "Book ISBN", class: "center-align" %>
      <%= form.text_field :isbn, class: "form-control" %>

      <%= form.label :book_title, nil, class: "center-align" %>
      <%= form.text_field :title, class: "form-control" %>

      <%= form.label :book_author, nil, class: "center-align" %>
      <%= form.text_field :author, class: "form-control" %>

      <%= form.label :book_language, nil, class: "center-align" %>
      <%= form.text_field :language, class: "form-control" %>

      <%= form.label :published_date, nil, class: "center-align" %>
      <div align="center">
        <%= form.date_select :published, {}, {class: "form-control", style: "display: inline; width: 32%;"} %>
      </div>

      <%= form.label :book_edition, nil, class: "center-align" %>
      <%= form.text_field :edition, class: "form-control" %>

      <%= form.label :cover_image, nil, class: "center-align" %>
      <span class="btn btn-primary btn-file btn-block">
      <%= form.file_field :image %> Choose a book cover
      </span>

      <%= form.label :book_subject, nil, class: "center-align" %>
      <%= form.text_field :subject, class: "form-control" %>

      <%= form.label :book_summary, nil, class: "center-align" %>
      <%= form.text_area :summary, class: "form-control" %>

      <%# TODO: create the following fields dynamically %>
      <% if @is_special == nil %>

        <%= form.label :special_book?, nil, class: "center-align" %>
        <select name="book[is_special]" class="form-control">
          <option value=""></option>
          <option value="no">No</option>
          <option value="yes">Yes</option>
        </select>

      <% else %>

        <%= form.label :special_book?, nil, class: "center-align" %>
        <select name="book[is_special]" class="form-control">
          <option value=""></option>
          <option value="no" <%= @is_special == "no" ? "selected" : "" %>>No</option>
          <option value="yes" <%= @is_special == "yes" ? "selected" : "" %>>Yes</option>
        </select>

      <% end %>

    </div>

    <div class="actions">
      <%= form.submit nil, class: "btn btn-primary btn-block" %>
    </div>
  </div>
<% end %>