<center>
<%= form_with(model: book, local: true, :html => {:multipart => true}) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<table>

<tr>
    <td>  <%= form.label :isbn %> </td>
    <td> <%= form.text_field :isbn %> </td>
</tr>
<tr>
<td> <%= form.label :title %> </td>
   <td> <%= form.text_field :title %> </td>
</tr>
  <tr>
    <td> <%= form.label :author %> </td>
    <td> <%= form.text_field :author %> </td>
  </tr>
<tr>
  <td> <%= form.label :language %> </td>
  <td> <%= form.text_field :language %> </td>
</tr>

<tr>

  <td>  <%= form.label :published %> </td>
  <td>  <%= form.date_select :published %> </td>
</tr>

<tr>
  <td> <%= form.label :edition %> </td>
  <td> <%= form.text_field :edition %> </td>
</tr>
<tr>
  <td> <%= form.label :image %> </td>
  <td> <%= form.file_field :image %> </td>
</tr>

  <tr>
    <td><%= form.label :subject %> </td>
    <td> <%= form.text_field :subject %> </td>
  </tr>


<tr>
  <td><%= form.label :summary %></td>
  <td> <%= form.text_area :summary %></td>
</tr>

  <tr>
    <td><%= form.label :is_special %> </td>
   <td><select name="book[is_special]">
  <option value="no" selected>No</option>
    <option value="yes">Yes</option>
   </select> </td>
</tr>
<tr>
  <td> </td>
  <td><%= form.submit %></td>
</tr>
</table>
<% end %>
  </center>
