<div class="row" align="center">

  <% if notice != nil %>
    <h6 id="alert" class="alert alert-info" style="text-align: center; margin-top: 0;"><%= notice %></h6>
  <% end %>

  <div class="col-lg-4" style="margin-top: 1em;">
    <%= image_tag @book.image_url, class: "border-wrapper", height: 450, width: 300 if @book.image? %>
    <% if !@book.image_url.include?(".png") and !@book.image_url.include?(".jpg") %>
      <%= image_tag("/unavailable.jpg", class: "border-wrapper", height: 450, width: 300) %>
    <% end %>
  </div>
  <div class="col-lg-8 card" style="margin-top: 1em; padding-top: 0.5em; padding-bottom: 0.5em; border-radius: 1em;">
    <h4 class="div-custom">
      <strong>Isbn: <%= @book.isbn %></strong>
    </h4>
    <h4 class="div-custom">
      <strong>Title: <%= @book.title %></strong>
    </h4>
    <h4 class="div-custom">
      <strong>Author: <%= @book.author %></strong>
    </h4>
    <h4 class="div-custom">
      <strong>Language: <%= @book.language %></strong>
    </h4>
    <h4 class="div-custom">
      <strong>Published: <%= @book.published %></strong>
    </h4>
    <h4 class="div-custom">
      <strong>Edition: <%= @book.edition %></strong>
    </h4>
    <h4 class="div-custom">
      <strong>Subject: <%= @book.subject %></strong>
    </h4>
    <h4 class="div-custom">
      <strong>Summary: <%= @book.summary %></strong>
    </h4>
    <h4 class="div-custom">
      <strong>Is special: <%= @book.is_special %></strong>
    </h4>
  </div>

  <br>

  <%= link_to 'Edit book', edit_book_path(@book),
              class: "btn btn-primary pull-right",
              style: "color: #ffffff; margin-right: 0; margin-top: 1em;" %>

</div>

<br>