<%= form_with(model: book_request, local: true) do |form| %>
  <% if book_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book_request.errors.count, "error") %> prohibited this book_request from being saved:</h2>

      <ul>
      <% book_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :university_id %>
    <%= form.collection_select :book_id, Book.all, :id, :title %>
  </div>

  <div class="field">
    <%= form.label :library_id %>
    <%= form.text_field :library_id %>
  </div>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.text_field :student_id %>
  </div>

  <div class="field">
    <%= form.label :request_type %>
    <%= form.text_field :request_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
