<div class="login-margins-30 card">

  <% if notice != nil %>
    <h6 id="alert" class="alert alert-info" style="text-align: center; margin-top: 0;"><%= notice %></h6>
  <% end %>

  <h4 class="div-custom">
    <strong>Book: <%= @book_request.book.title %></strong>
  </h4>

  <h4 class="div-custom">
    <strong>Library: <%= @book_request.library.name %></strong>
  </h4>

  <h4 class="div-custom">
    <strong>Student: <%= @book_request.student.email %></strong>
  </h4>

  <h4 class="div-custom">
    <strong>Type: <%= @book_request.request_type %></strong>
  </h4>

  <!--<%# link_to 'Edit', edit_book_request_path(@book_request) %> |-->

</div>