<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @librarian.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @librarian.name %>
</p>

<p>
  <strong>Is approved:</strong>
  <%= @librarian.is_approved %>
</p>

<p>
  <strong> Library: </strong>
  <% @library = Library.find(@librarian.library_id) %>
  <%= @library.name %>
</p>

<p>
  <strong>Library ID:</strong>
  <%= @librarian.library_id %>
</p>

<p>
  <strong> University: </strong>
  <% @university = University.find(@librarian.university_id)
  %>
  <%= @university.name %>
</p>


<%= link_to 'Edit', edit_librarian_path(@librarian) %> |
<%= link_to 'Back', librarians_path %>
