<div class="login-margins-30 card">

  <% if notice != nil %>
    <h6 id="alert" class="alert alert-info" style="text-align: center; margin-top: 0;"><%= notice %></h6>
  <% end %>

  <h4 class="div-custom">
    <strong>Email: <%= @librarian.email %></strong>
  </h4>

  <h4 class="div-custom">
    <strong>Name: <%= @librarian.name %></strong>
  </h4>

  <h4 class="div-custom">
    <strong>Is approved: <%= @librarian.is_approved %></strong>
  </h4>

  <h4 class="div-custom">
    <strong>Library:
      <%= Library.find(@librarian.library_id).name %></strong>
  </h4>

  <h4 class="div-custom">
    <strong>Library ID: <%= @librarian.library_id %></strong>
  </h4>

  <h4 class="div-custom">
    <strong>University:
      <%= University.find(@librarian.university_id).name %></strong>
  </h4>

  <%= link_to 'Edit',
              edit_librarian_path(@librarian),
              class: "btn btn-primary btn-block",
              style: "color: #ffffff;" %>

</div>