<% if notice != nil %>
  <h6 id="alert" class="alert alert-info" style="text-align: center; margin-top: 0;"><%= notice %></h6>
<% end %>

<h4 align="center">Overdue Details</h4>

<div class="card-scrollable">
<table class="table table-hover">
  <thead>
  <tr>
    <th>Library</th>
    <th>Book</th>
    <% if session[:user_type] != ApplicationController::TYPE_STUDENT %>
      <th>Student</th>
    <% end %>
    <th>Overdue days</th>
    <th>Overdue Fine</th>
  </tr>
  </thead>

  <tbody>
    <% @overdue_fines.each do |overdue_fine| %>
    <tr>
      <td> <%= overdue_fine[0] %> </td>
      <td> <%= overdue_fine[1] %> </td>
      <% if session[:user_type] != ApplicationController::TYPE_STUDENT %>
        <td> <%= overdue_fine[4] %> </td>
      <% end %>
      <td> <%= overdue_fine[2] %> </td>
      <td> <%= overdue_fine[3] %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>