<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @book_history.book.title %>
</p>

<p>
  <strong>Library:</strong>
  <%= @book_history.library.name %>
</p>

<p>
  <strong>Student:</strong>
  <%= @book_history.student.email %>
</p>

<p>
  <strong>Action:</strong>
  <%= @book_history.action %>
</p>

<!--<%# link_to 'Edit', edit_book_history_path(@book_history) %> |-->
