<!DOCTYPE html>
<html>
  <head>
    <title>LibraryManagementSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="container">
      <div>
        <% if current_user %>
          Logged in as <%= current_user.email %>
          <%= link_to "Logout", logout_path %>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
