<!DOCTYPE html>
<html>
<head>
  <center><h3>Library Management System</h3></center>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div id="container">

    <% if @current_user %>
      Logged in as <%= current_user.email %>
      <%= link_to "Homepage", home_index_path %>
      <%= link_to "Logout", logout_path %>

    <% end %>
  </div>

<%= yield %>
</body>
</html>
